<div class="modal-header">
            <h3 class="modal_alert">Recover Password</h3>
        </div>
        <div class="modal-body modal_error_body">
            <div ng-if="recover.done!=1">Please enter your email address, and we'll send your password to you. <br/><br/>
            <input id="login_user" type="text" placeholder="Email Address" ng-model="recover.email" class="modal_login_user"><br/><br/></div>
       <div>{{recover.status}}</div><br/>
        </div>
        <div class="modal-footer" ng-if="recover.done!=1">
            <button class="btn btn-primary" ng-click="cancelLogin()">Cancel</button>
            <button class="btn btn-primary" ng-click="submitRecover()">Recover</button>
        </div>
        <div class="modal-footer" ng-if="recover.done==1">
            <button class="btn btn-primary" ng-click="cancelLogin()">Okay</button>
        </div>